# Ignore everything
*

# Except
!.gitignore
!README.md
!*/

!nvim/**
!alacritty/**
!git/**
!zellij/**
!fish/**
!system-settings/**

!rocketfetch/**
!karabiner/**

!yabai/**
!skhd/**
!aerospace/**
!neovide/**

!hypr/**
!tofi/**
!waybar/**

!nix/**
!flake.*
