# Ignore everything
*

# Except
!.gitignore
!*/

!nvim/**
!alacritty/**
!git/**
!zellij/**
!fish/**
!system-settings/**

!rocketfetch/**
!karabiner/**

!yabai/**
!skhd/**
!neovide/**

!hypr/**
!tofi/**
!waybar/**
